<template name="linuxImpressumDatenschutzHeadingEN">
    <h1>Privacy policy and procedures</h1>
</template>

<template name="linuxImpressumDatenschutzContentEN">
    <h2>Guiding principle</h2>
    <p>
        Your personal data will be treated confidentially. All actions are directed to the
        legal foundations of the Hessian Data Protection Act (HDSG), the Telemedia Act (TMG) and
        of this data protection declaration. This is done by TransMIT GmH as the operator of 🍅cards
        guaranteed
    </p>
    <br/>
    <h2>Collection and use of data</h2>
    <p>
        We collect, process and use personal data only insofar as they are necessary for the justification,
        content design and processing of your order are necessary (stock data).
        Collecting and processing personal data on the use of 🍅cards (usage data)
        and we only use it to the extent necessary to inform the user about the use of the system.
        allow or account for.
    </p>
    <br/>
    <h2>Application data</h2>
    <p>
        🍅cards collects content and other information provided by the user when using the 🍅cards.
        platform. This also includes the login name and registration service during the registration
        process, the
        Creating and publishing learning content and sending messages or messages
        to the administrators. This may include information about the content provided by users, such as
        or those contained in them, such as the date on which a learning content is created.
        was.
        In addition, 🍅cards collects information about the provision of learning content that can be used
        to
        Learning behaviour in the context of learning phases and evaluations.
    </p>
    <br/>
    <h2>Access data</h2>
    <p>
        Personal data is only collected by 🍅cards to the technically necessary extent. Outside
        Login name and login service of the user as well as date and time of registration will not be used.
        personal data is stored.
    </p>
    <br/>
    <h2>Web server log files</h2>
    <p>
        We automatically collect and store information in log files that your browser automatically sends to
        us.
        transmitted. These are:
    <ul>
        <li>Browser type / browser version</li>
        <li>operating system used</li>
        <li>Referrer URL</li>
        <li>Host name of the accessing computer</li>
        <li>Time of the server request</li>
    </ul>
    These data cannot be attributed to specific persons. A combination of these data with others
    Data sources are not used.
    </p>
    <br/>
    <h2>Cookies</h2>
    <p>
        Some of the Internet pages use so-called cookies. These are used to make our offer
        more user-friendly, effective and safer. Cookies are small text files that are stored on your
        computer.
        on your computer and stored by your browser. The majority of the
        Cookies are so-called &raquo;session cookies&laquo;. They are automatically deleted at the end of
        your visit.
        Cookies do not affect your computer and do not contain viruses.
    </p>
    <p>
        You can set your browser in such a way that you will be informed about the setting of cookies and
        that your browser will not accept cookies.
        allow them only in individual cases, the acceptance of cookies for certain cases or in general.
        and activate the automatic deletion of cookies when you close your browser.
        The deactivation of cookies can lead to restrictions on the functionality of the platform.
        come.
    </p>
    <br/>
    <h2>Precept</h2>
    <p>
        Extensive technical and operational precautions have been taken to protect your data from
        unauthorized access.
        accidental or intentional manipulation, loss, destruction or access to unauthorized data by
        unauthorized persons.
        to protect people. The safety procedures are regularly reviewed and adapted to the technological
        progress of the company.
        Progress adapted. Data transmissions on the Internet (e. g. when communicating via e-mail)
        be able
        However, there are security gaps, which means that data is completely protected against access by
        third party is not possible.
    </p>
    <br/>
    <h2>Data transfers to third parties</h2>
    <p>
        Your data will not be passed on to third parties unless the operators of 🍅cards
        are legally obliged to do so. As far as external service providers with your personal data in
        contact is ensured by legal, technical and organizational measures as well as by
        regular checks to ensure that they comply with the provisions of the data protection laws.
    </p>
    <br/>
    <h2>Links to websites of other providers</h2>
    <p>
        🍅cards may contain links to websites of other providers to which this privacy statement may
        refer.
        is not related. As far as with the use of the Internet pages of other providers the collection,
        processing and use of data is prohibited.
        or use of personal data, please note the data protection information provided by the
        respective provider.
    </p>
    <br/>
    <h2>Integration of third-party services and content</h2>
    <p>
        It is possible that the learning content offered by 🍅cards may contain third party content, such
        as videos
        of YouTube and Vimeo or graphics from other websites. This presupposes,
        that the providers of this content perceive the IP address of the user. Without the IP address
        the contents cannot be sent to the browser.
    </p>
    <br/>
    <h2>Payment information</h2>
    <p>
        If 🍅cards are used for purchases or financial transactions (for example, if a
        card set or a subscription is purchased), 🍅cards does not charge any fees for the purchase of a
        card set.
        Payment information saved. All transactions are handled by the <a rel="noopener noreferrer"
            href="https://www.braintreepayments.com/en-de" target="_blank">Braintree</a> service.
        It collects all account and authentication information and billing information.
    </p>
    <br/>
    <h2>Other data acquisition</h2>
    <p>
        Further personal data will only be collected if you provide this information voluntarily, for
        example in the
        frame of a teacher request. Insofar as you provide us with personal data
        will only be closed for the purpose of answering your enquiries and processing with you.
        contracts, for the evaluation of the learning phases and for technical administration.
        processed.
    </p>
    <br/>
    <h2>Right of objection and right to information</h2>
    <p>
        You have the right to free information about your stored personal data at any time.
        data, their origin and recipient, the purpose of the data processing as well as a right to
        Correction, blocking or deletion of this data.
    </p>
    <p>
        If you have any questions or suggestions, please contact us at the following e-mail address or in
        the imprint
        contact details provided: <a rel="noopener noreferrer"   href="mailto:klaus.quibeldey-cirkel@transmit.de">klaus.quibeldey-cirkel@transmit.de</a>.
    </p>
    <br/>
    <h2>Procedure log</h2>
    <p>
        An overview of the data stored in 🍅cards can be found in the
        <a rel="noopener noreferrer"   href="https://git.thm.de/arsnova/flashcards/wikis/verfahrensverzeichnis" target="_blank">Procedures
            directory</a>.
    </p>
    <br/>
    <h2>Changes to the Privacy Policy</h2>
    <p>
        We reserve the right to update this data protection declaration at any time in compliance with the
        applicable laws and regulations.
        privacy policy.
    </p>
    <br/>
    <p>Last update: 15.05.2018</p>
</template>
