<template name="linuxImpressumSupportHeadingEN">
     <h1>Imprint and Support</h1>
</template>

<template name="linuxImpressumSupportContentEN">
    <h2>Service provider</h2>
    <p>
        The operation of the web application <strong> .{{getLastAppTitle}}</strong>  under <a rel="noopener noreferrer"   href="home"
                                                                                  target="_blank">
        {{getFirstAppTitle}}.{{getLastAppTitle}} </a> is a free service (software as a service) of the
        TransMIT company
        for Technologietransfer mbH, project area for mobile applications.
    </p>
    <p>
        Kerkrader Straße 3 <br/>
        D-35394 Gießen
    </p>
    <p>
        c/o THM – Technische Hochschule Mittelhessen <br/>
        Faculty MNI - Mathematics, Natural Sciences and Computer Science <br/>
        Prof. Dr.-Ing. habil. Klaus Quibeldey-Cirkel <br/>
        Chair of Software Engineering
    </p>
    <p>
        Wiesenstraße 14 <br/>
        D-35390 Gießen
    </p>
    <p>
        Phone: +49 641 309-2450 <br/>
        Email: <a rel="noopener noreferrer"   href="mailto:klaus.quibeldey-cirkel@transmit.de">klaus.quibeldey-cirkel@transmit.de</a>
    </p>
    <p>
        Seat of the company: Gießen <br/>
        Web site: <a rel="noopener noreferrer"   href="https://www.transmit.de" target="_blank">https://www.transmit.de</a><br/>
        Legal status: GmbH <br/>
        District court: Gießen HRB 3036 <br/>
        USt-IdNr.: DE 188 685 037
    </p>
    <br/>
    <h2>Support</h2>
    <p>
        Technical questions about WebApp: <a rel="noopener noreferrer"   href="mailto:curtis.adam@mni.thm.de">Curtis Adam</a>
    </p>
    <p>
        Questions on the conception and didactic use of the 🍅cards learning platform: <a rel="noopener noreferrer"
            href="mailto:klaus.quibeldey-cirkel@mni.thm.de">Prof. Dr. Klaus Quibeldey-Cirkel</a>
    </p>
    <p>
        Bugs &amp; Feature Requests: <a rel="noopener noreferrer"   href="https://github.com/thm-projects/arsnova-flashcards/issues"
                                        target="_blank">GitHub</a>
    </p>
    <p>
        Technical questions about WebApp: <a rel="noopener noreferrer"   href="mailto:curtis.adam@mni.thm.de">Curtis Adam</a>
    </p>
    <br/>
</template>
