<template name="cardsetNavigationEditLicense">
    {{#if isCardsetOwner _id}}
        {{#unless gotTranscriptBonusAndIsNotShuffled _id}}
            <div class="hidden-xs btn-group">
                <button id="selectLicense" class="btn btn-sm btn-raised selectLicenseBtn"
                        data-toggle="modal"
                        data-target="#selectLicenseModal" {{disableIfOffline}}>
                    <span class="flex-content"><span class="far fa-closed-captioning"></span>&nbsp;{{_ "sidebar-nav.license"}}</span>
                </button>
            </div>
        {{/unless}}
    {{/if}}
</template>
